# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\_yadisk\_java\scrimba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
